<div class="mb_con_z">
    <div class="Mbdiv">
        <div class="Mbgen_title">
            <ul>
                <li>
                    <span>调查中心</span>
                    <s class="arrowr"></s>
                </li>
                <li>
                    <span class="active">所有问卷</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="Mbdiv">
        <div class="Mbdiv_list mh800">

            <div class="tem" *ngFor="let item of questionList">
                <div class="temtitle">
                    <a [routerLink]="['/pages/template/detail',item.questionnaireId]" [routerLinkActive]="['active']">
                        <p>{{item.questionnaireName}}</p>
                    </a><a class="resume">推荐</a>
                    <span>共{{9}}个问题</span>
                </div>
                <div class="temcon">
                    <span>分类：{{item.questionnaireType | emQuestionnaireType}}</span> |
                    <span>作者：{{item.user}}</span> |
                    <span>创建日期：{{item.createTime}}</span>
                </div>
                <div class="text">
                    {{item.questionnairePrompt}}
                </div>
            </div>
        </div>
    </div>
    <div class="pagenum" id="pagenum">



        <page [(pagination)]="pagination">
        </page>

        <span>共&nbsp;&nbsp;{{pagination.pageNum}}&nbsp;&nbsp;页&nbsp;&nbsp;|&nbsp;&nbsp;{{pagination.totalItems}}&nbsp;&nbsp;条</span>
    </div>
</div>