<div class="wjContent" style="margin-top: 4.5rem">
    <div class="createTemplate">
        <!-- <button class="newButton" [routerLink]="['/pages/questionnaire']" [routerLinkActive]="['active']">新建</button>-->
    </div>
    <div class="library_top">
        <div class="library_top_con">
            <div class="searchdiv LibSoso">
                <form action="/search" method="POST" id="search_form">
                    <ul class="selected_nav">

                        <li class="selected_s">问卷</li>
                    </ul>
                    <s class="arrow"></s>
                    <input id="keywords" name="keywords" type="text" placeholder="输入关键字，搜索您想要的问卷模板" value="" [(ngModel)]="filterName">
                    <a>
                        <div class="searchicon" id="search_btn" (click)="filter(null)">
                            <img src="assets/img/search_ico.png">
                        </div>
                    </a>
                    <input type="hidden" name="_xsrf" value="e0b4b92799d743f3a26ce2cc66a19d2a">
                </form>
            </div>
            <div class="hotwords" id="hotwords_survey">热门搜索：
                <span *ngFor="let item of hotWords">{{item}}&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="content Tj clearfix">

        <div class="wjContent">
            <div class="content clearfix">
                <div class="mb_con">
                    <div class="mb_con_l">
                        <div class="mb_con_group liblue ">
                            <div class="h1">功能分类</div>
                            <ul class="ul-capability gn_list">

                                <li title="品牌营销" [ngClass]="{'active':indextab==1}"><a (click)="filter(1)">品牌营销</a></li>

                                <li title="产品测试" [ngClass]="{'active':indextab==2}"><a (click)="filter(2)">产品测试</a></li>

                                <li title="消费者分析" [ngClass]="{'active':indextab==3}"><a (click)="filter(3)">消费者分析</a></li>

                                <li title="满意度调查" [ngClass]="{'active':indextab==4}"><a (click)="filter(4)">满意度调查</a></li>

                                <li title="人力资源" [ngClass]="{'active':indextab==5}"><a (click)="filter(5)">人力资源</a></li>

                                <li title="学术教育" [ngClass]="{'active':indextab==6}"><a (click)="filter(6)">学术教育</a></li>

                                <li title="社会民意" [ngClass]="{'active':indextab==-1}"><a (click)="filter(-1)">其他</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb_con_z">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
        <!--wjContent end-->
    </div>
</div>