.bce-sidebar+.content {
    margin-left: 160px;
}

.content {
    margin: 0;
    padding: 0 20px 20px;
    position: relative;
    background-color: #e2e5ec;
    z-index: 2;
    float: none;
    width: auto;
    min-width: 1100px;
}

.bce-breadcrumb {
    background: 0 0;
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: #333;
    font-size: 12px;
}

.bce-list-content {
    position: relative;
    background: #fff;
    padding: 0 20px;
    margin: 0;
}

// 底层
#bce-main h2 {
    font-size: 18px;
}

.bce-list-content h2 {
    font-weight: 400;
    line-height: 55px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    font-size: 16px;
    margin: 0 -20px;
}

.bce-task-list-head {
    margin: 20px 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    vertical-align: top;
    padding-top: 0;
}

.bce-create-task-btn {
    float: left;
    display: inline-block;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: #3291da;
}

.bce-task-list-head .bce-skin-create-button {
    margin-right: 20px;
}

bce-task-list-head div {
    display: inline-block;
}

.bce-skin-ok-button,
.bce-skin-create-button,
.bce-skin-primary-button,
.bce-dialog-ok-btn {
    color: #fff;
    background-color: #108cee;
}

.bce-ui-button {
    height: 30px;
    border: 0;
    outline: 0;
    font-size: 12px;
    padding: 0 12px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #108cee;
    background-color: #eaf6fe;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti, sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    zoom: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

bce-task-list-head div {
    display: inline-block;
}

.vt {
    vertical-align: top;
}

.bce-ui-search-group {
    font-size: 0;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.bce-ui-group {
    display: inline-block;
    vertical-align: middle;
}

.bce-task-list-head div {
    display: inline-block;
}

.bce-ui-select {
    height: 30px;
    outline: 0;
    font-size: 12px;
    min-width: 120px;
    line-height: 30px;
    position: relative;
    padding: 0 30px 0 10px;
    vertical-align: middle;
    color: #108cee;
    background-color: #eaf6fe;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.bce-ui-select-layer {
    text-align: left;
    font-size: 12px;
    min-width: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 156px;
    background-color: #fff;
    position: absolute;
    left: 0;
    padding: 4px 0;
    z-index: 1002;
    border-left: 1px solid #eaf6fe;
    border-right: 1px solid #eaf6fe;
    border-bottom: 1px solid #eaf6fe;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}

.bce-ui-select-item {
    padding: 0 10px;
    line-height: 30px;
    color: #333;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.bce-task-list-head div {
    display: inline-block;
}

.vt {
    vertical-align: top;
}

.bce-ui-textbox {
    font-size: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.bce-ui-textbox input,
.bce-ui-textbox textarea {
    width: 200px;
    font-size: 12px;
    background: #fff;
    vertical-align: middle;
    color: #999;
    border: 1px solid #ccc;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

.bce-task-list-head div {
    display: inline-block;
}

.vt {
    vertical-align: top;
}

.bce-ui-button {
    height: 30px;
    border: 0;
    outline: 0;
    font-size: 12px;
    padding: 0 12px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #108cee;
    background-color: #eaf6fe;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti, sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    zoom: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}

:before,
 :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.survey-manage-list {
    min-height: 546px;
    background: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.survey-manage-table-warp {
    width: 100%;
}

.survey-manage-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.survey-manage-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.survey-manage-table-head {
    background: #f9f9f9;
    color: #333;
    font-size: 14px!important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.survey-manage-table th {
    font-weight: 400;
    color: #333;
}

.survey-manage-table th,
.survey-manage-table td {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.survey-manage-table-head>th {
    border-right: 1px solid #eee;
}

.survey-manage-table th {
    font-weight: 400;
    color: #333;
}

.survey-manage-table th,
.survey-manage-table td {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.survey-manage-table tr {
    font-size: 12px;
    height: 60px;
    border: 1px solid #ddd!important;
}

.survey-manage-table-row {
    border-top: 1px solid #eee;
}

.survey-manage-table th,
.survey-manage-table td {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: #3291da;
}

.survey-manage-table th,
.survey-manage-table td {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.survey-manage-table th,
.survey-manage-table td {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.survey-manage-table th,
.survey-manage-table td {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.survey-status-warning {
    color: #f19149;
}

.survey-operation a {
    text-decoration: none;
}

.survey-operation a,
.survey-operation span {
    color: #0886e9;
    cursor: pointer;
}

.bce-list-content .mtc-pagination {
    margin: 20px 0;
}

.mtc-pagination-wrap {
    text-align: center;
    float: right;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin: 0;
}

.mtc-pagination-wrap li {
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #fff;
    background-color: #eaf6fe;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.mtc-pagination-wrap li.active {
    background: #108cee;
    cursor: default;
}

.mtc-pagination-wrap li {
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #fff;
    background-color: #eaf6fe;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.mtc-pagination-wrap li.disabled {
    cursor: not-allowed;
    background-color: #e2e5ec;
}

.mtc-pagination-wrap li:last-child {
    border-right: 0;
}

.empty-survey-wrap {
    background: #fff;
    border: 1px solid #dce4ea;
    min-height: 663px;
}

.empty-survey-title {
    width: 100%;
    height: 60px;
    //background: url(/static/home/img/survey/empty_list_title.png) no-repeat center;
    border-bottom: solid 1px #ddd;
}

.empty-survey-guide {
    padding: 0 20px 20px;
}

.survey-guide-tip {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 16px;
    color: #525f66;
    font-weight: 600;
}

.survey-guide-content .survey-tpl-type:first-child {
    margin-left: 0;
}

.survey-tpl-type {
    display: inline-block;
    width: 185px;
    height: 280px;
    border: solid 1px #ddd;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #919ba0;
    vertical-align: top;
    padding: 0 16px;
}

.tpl-type-icon-area {
    width: 42px;
    height: 104px;
    line-height: 144px;
}

.tpl-type-name {
    font-size: 18px;
    color: #525f66;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

.survey-name-list a,
.create-empty-survey-area a {
    color: #919ba0;
    display: block;
    text-decoration: none;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: #3291da;
}

.survey-name-list li {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.rect-dot {
    height: 5px;
    width: 5px;
    display: inline-block;
    background-color: #919ba0;
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
}

.survey-name {
    display: inline-block;
    margin-left: 11px;
}

.create-empty-survey-area {
    height: 103px;
    line-height: 70px;
    color: #919ba0;
    margin: auto;
    margin-top: -51.5px;
    text-align: center;
    top: 50%;
    position: relative;
}

.survey-name-list a,
.create-empty-survey-area a {
    color: #919ba0;
    display: block;
    text-decoration: none;
}

.create-empty-survey {
    width: 75px;
    height: 75px;
    line-height: 70px;
    background-color: #f3f3f3;
    color: #ccc;
    font-size: 30px;
    margin: auto;
    text-align: center;
    margin-bottom: 12px;
}

.survey-name-list a,
.create-empty-survey-area a {
    color: #919ba0;
    display: block;
    text-decoration: none;
}

.survey-name {
    display: inline-block;
    margin-left: 11px;
}