<p class="bce-breadcrumb">
    <span>问卷调研</span>
    <span class="divider">/</span>
    <span class="active">问卷列表</span>
</p>
<div class="bce-list-content" ng-hide="emptyList" style="display:none">
    <h2>问卷列表 <span class="survey-manage-content-tip"></span></h2>
    <div class="bce-task-list-head">
        <a class="bce-create-task-btn" style="text-decoration: none" href="http://mtc.baidu.com/survey/home/createSurvey" target="_blank">
            <div class="bce-ui-button bce-skin-create-button"><i class="fa fa-plus-square" aria-hidden="true"></i>免费创建</div>
        </a>

        <div class="bce-ui-group bce-ui-search-group vt">
            <div class="bce-ui-select" ng-click="expandSelect()" ng-class="{true: 'bce-ui-select-active'}[isExpanded]">
                <span ng-bind="statusAry[statusFilter]" class="ng-binding">全部状态<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                <ul ng-show="isExpanded" class="bce-ui-select-layer ng-hide">
                    <!-- ngRepeat: (k,v) in statusMap -->
                    <li ng-repeat="(k,v) in statusMap" ng-bind="statusAry[v]" ng-click="statusChanged(v)" class="bce-ui-select-item ng-binding ng-scope">全部状态</li>
                    <!-- end ngRepeat: (k,v) in statusMap -->
                    <li ng-repeat="(k,v) in statusMap" ng-bind="statusAry[v]" ng-click="statusChanged(v)" class="bce-ui-select-item ng-binding ng-scope">创建中</li>
                    <!-- end ngRepeat: (k,v) in statusMap -->
                    <li ng-repeat="(k,v) in statusMap" ng-bind="statusAry[v]" ng-click="statusChanged(v)" class="bce-ui-select-item ng-binding ng-scope">待支付</li>
                    <!-- end ngRepeat: (k,v) in statusMap -->
                    <li ng-repeat="(k,v) in statusMap" ng-bind="statusAry[v]" ng-click="statusChanged(v)" class="bce-ui-select-item ng-binding ng-scope">审核中</li>
                    <!-- end ngRepeat: (k,v) in statusMap -->
                    <li ng-repeat="(k,v) in statusMap" ng-bind="statusAry[v]" ng-click="statusChanged(v)" class="bce-ui-select-item ng-binding ng-scope">审核不通过</li>
                    <!-- end ngRepeat: (k,v) in statusMap -->
                    <li ng-repeat="(k,v) in statusMap" ng-bind="statusAry[v]" ng-click="statusChanged(v)" class="bce-ui-select-item ng-binding ng-scope">发布中</li>
                    <!-- end ngRepeat: (k,v) in statusMap -->
                    <li ng-repeat="(k,v) in statusMap" ng-bind="statusAry[v]" ng-click="statusChanged(v)" class="bce-ui-select-item ng-binding ng-scope">已完成</li>
                    <!-- end ngRepeat: (k,v) in statusMap -->
                </ul>
            </div>
            <div class="bce-ui-textbox vt">
                <input type="text" placeholder="输入标题搜索" ng-model="nameFilter" style="width:160px;" class="ng-pristine ng-untouched ng-valid">
            </div>
            <div class="bce-ui-button vt" ng-click="filter()"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="survey-manage-list clearfix">
        <div class="survey-manage-table-warp">
            <table class="survey-manage-table">
                <tbody>
                    <tr class="survey-manage-table-head" style="font-size: 14px;height: 50px;text-align: left">
                        <th style="width: 25%">问卷名称/问卷ID</th>
                        <th style="width: 10%">发布方式</th>
                        <th style="width: 15%">创建时间</th>
                        <th style="width: 12%">完成情况</th>
                        <th style="width: 17%">项目状态</th>
                        <th id="list-header-operate">操作</th>
                    </tr>
                    <!-- ngRepeat: survey in surveyList | offset: currentPage*itemsPerPage | limitTo: itemsPerPage -->
                    <tr class="survey-manage-table-row ng-scope" ng-repeat="survey in surveyList | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                        <td nowrap="" title="12">
                            <a ng-bind="survey.survey_name + ' / ' + survey.survey_id" href="http://mtc.baidu.com/survey/home/previewSurvey/from/f6a28909f7a9229a250b7f39cfc1cc29?survey_id=250442" target="_blank" style="color:#0886e9" class="ng-binding">12 / 250442</a>
                            <!-- ngIf: survey.sample_id > 0 -->
                            <br>
                            <!-- ngIf: siteChannelCode=='bce' -->
                        </td>
                        <td ng-bind="survey.publish_scene" class="ng-binding">有偿收集</td>
                        <td ng-bind="survey.create_time" class="ng-binding">2017-04-20 10:46:16</td>
                        <td><span ng-bind="survey.survey_count" class="ng-binding">0</span>/<span ng-bind="survey.target" class="ng-binding">1000</span></td>
                        <td ng-bind="survey.statusName" ng-class="{'survey-status-reject':survey.status==1,'survey-status-warning':survey.status==0||survey.status==10||survey.status==3,'survey-status-finish':survey.status==5}" ng-click="showRejectInfo(survey)" class="ng-binding survey-status-warning">创建中</td>
                        <td class="survey-operation">
                            <a href="http://mtc.baidu.com/survey/home/viewSurvey?survey_id=250442">查看&nbsp;</a>
                            <a href="http://mtc.baidu.com/survey/home/edit?survey_id=250442" ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status<3&amp;&amp;survey.is_expansion==false">编辑&nbsp;</a>
                            <a href="http://mtc.baidu.com/survey/home/surveyFilter?survey_id=250442" ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status<3">提交&nbsp;</a>
                            <a href="http://mtc.baidu.com/survey/home/surveyReport?survey_id=250442" ng-show="survey.type != 1 &amp;&amp;(survey.status==4||survey.status==5||survey.status==8)" class="ng-hide">答卷数据&nbsp;</a>
                            <a href="http://mtc.baidu.com/my/FC/orderPay?order_id=" ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status==10" class="ng-hide">支付&nbsp;</a>
                            <span ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status==2" ng-click="submit(survey)" class="ng-hide">提交&nbsp;</span>
                            <span ng-show="survey.type==0||survey.type==4" ng-click="copy(survey)">复制&nbsp;</span>
                            <span ng-show="survey.status<3" ng-click="deleteSurvey(survey)">删除&nbsp;</span>
                            <!-- ngIf: survey.scene==2 && survey.status==4 -->
                            <!-- ngIf: (survey.type==0||survey.type==4) && survey.scene==1 && survey.status==5 -->
                        </td>
                    </tr>
                    <!-- end ngRepeat: survey in surveyList | offset: currentPage*itemsPerPage | limitTo: itemsPerPage -->
                    <tr class="survey-manage-table-row ng-scope" ng-repeat="survey in surveyList | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                        <td nowrap="" title="2213">
                            <a ng-bind="survey.survey_name + ' / ' + survey.survey_id" href="http://mtc.baidu.com/survey/home/previewSurvey/from/e33db3804e2296ea8e025e8dc0e0711b?survey_id=250434" target="_blank" style="color:#0886e9" class="ng-binding">2213 / 250434</a>
                            <!-- ngIf: survey.sample_id > 0 -->
                            <br>
                            <!-- ngIf: siteChannelCode=='bce' -->
                        </td>
                        <td ng-bind="survey.publish_scene" class="ng-binding">有偿收集</td>
                        <td ng-bind="survey.create_time" class="ng-binding">2017-04-20 10:39:17</td>
                        <td><span ng-bind="survey.survey_count" class="ng-binding">0</span>/<span ng-bind="survey.target" class="ng-binding">0</span></td>
                        <td ng-bind="survey.statusName" ng-class="{'survey-status-reject':survey.status==1,'survey-status-warning':survey.status==0||survey.status==10||survey.status==3,'survey-status-finish':survey.status==5}" ng-click="showRejectInfo(survey)" class="ng-binding survey-status-warning">创建中</td>
                        <td class="survey-operation">
                            <a href="http://mtc.baidu.com/survey/home/viewSurvey?survey_id=250434">查看&nbsp;</a>
                            <a href="http://mtc.baidu.com/survey/home/edit?survey_id=250434" ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status<3&amp;&amp;survey.is_expansion==false">编辑&nbsp;</a>
                            <a href="http://mtc.baidu.com/survey/home/surveyFilter?survey_id=250434" ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status<3">提交&nbsp;</a>
                            <a href="http://mtc.baidu.com/survey/home/surveyReport?survey_id=250434" ng-show="survey.type != 1 &amp;&amp;(survey.status==4||survey.status==5||survey.status==8)" class="ng-hide">答卷数据&nbsp;</a>
                            <a href="http://mtc.baidu.com/my/FC/orderPay?order_id=" ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status==10" class="ng-hide">支付&nbsp;</a>
                            <span ng-show="(survey.type==0||survey.type==4) &amp;&amp; survey.status==2" ng-click="submit(survey)" class="ng-hide">提交&nbsp;</span>
                            <span ng-show="survey.type==0||survey.type==4" ng-click="copy(survey)">复制&nbsp;</span>
                            <span ng-show="survey.status<3" ng-click="deleteSurvey(survey)">删除&nbsp;</span>
                            <!-- ngIf: survey.scene==2 && survey.status==4 -->
                            <!-- ngIf: (survey.type==0||survey.type==4) && survey.scene==1 && survey.status==5 -->
                        </td>
                    </tr>
                    <!-- end ngRepeat: survey in surveyList | offset: currentPage*itemsPerPage | limitTo: itemsPerPage -->
                </tbody>
            </table>
        </div>

        <div class="mtc-pagination" style="float: left;width: 100%;;float: left;width: 100%;" ng-hide="emptyList">
            <ul class="mtc-pagination-wrap">
                <li ng-class="prevPageDisabled()" class="disabled"><a class="pagination-nav-btn" href="" ng-click="setPage(0)">&lt;&lt;</a></li>
                <li ng-class="prevPageDisabled()" class="disabled"><a class="pagination-nav-btn" href="" ng-click="prevPage()">&lt;</a></li>
                <!-- ngRepeat: n in pages -->
                <li ng-repeat="n in pages" ng-class="{active: n == currentPage}" ng-click="setPage(n)" class="ng-scope active"><a href="" ng-bind="1" class="ng-binding">1</a></li>
                <!-- end ngRepeat: n in pages -->
                <li ng-class="nextPageDisabled()" class="disabled"><a class="pagination-nav-btn" href="" ng-click="nextPage()">&gt;</a></li>
                <li ng-class="nextPageDisabled()" class="disabled"><a class="pagination-nav-btn last-pagination-nav-btn" href="" ng-click="setPage(pageCount()-1)">&gt;&gt;</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- ngIf: emptyList -->
<div ng-include="includeUrl()" ng-if="emptyList" class="ng-scope">
    <div class="empty-survey-wrap ng-scope" ng-controller="emptySurveyGuideController">
        <div class="empty-survey-title"></div>
        <div class="empty-survey-guide">
            <div class="survey-guide-tip">选择模板开始创建</div>
            <div class="survey-guide-content">
                <!-- ngRepeat: tplType in tplTypes -->
                <div class="survey-tpl-type ng-scope selectedtype" ng-repeat="tplType in tplTypes" nowrap="" title="产品调研阶段" ng-click="selectTplType($index,$event)" ng-class="{selectedtype: $index==selectedTypeIndex}">
                    <div class="tpl-type-icon-area">
                        <div class="tpl-type-icon" ng-style="{'background':'url(/static/home/img/survey/'+tplType.icon+') no-repeat'}" style="background: url(&quot;/static/home/img/survey/market_research.png&quot;) no-repeat;"></div>
                    </div>
                    <p ng-bind="tplType.name" class="tpl-type-name ng-binding">产品调研阶段</p>
                    <ul class="survey-name-list">
                        <!-- ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=4&amp;survey_id=39794" target="_blank" class="ng-scope">
                            <li nowrap="" title="市场调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">市场调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=4&amp;survey_id=39781" target="_blank" class="ng-scope">
                            <li nowrap="" title="用户偏好调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">用户偏好调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=4&amp;survey_id=39790" target="_blank" class="ng-scope">
                            <li nowrap="" title="消费者行为调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">消费者行为调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=4&amp;survey_id=46964" target="_blank" class="ng-scope">
                            <li nowrap="" title="产品使用习惯调查">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">产品使用习惯调查</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                    </ul>
                </div>
                <!-- end ngRepeat: tplType in tplTypes -->
                <div class="survey-tpl-type ng-scope" ng-repeat="tplType in tplTypes" nowrap="" title="产品研发阶段" ng-click="selectTplType($index,$event)" ng-class="{selectedtype: $index==selectedTypeIndex}">
                    <div class="tpl-type-icon-area">
                        <div class="tpl-type-icon" ng-style="{'background':'url(/static/home/img/survey/'+tplType.icon+') no-repeat'}" style="background: url(&quot;/static/home/img/survey/product_development.png&quot;) no-repeat;"></div>
                    </div>
                    <p ng-bind="tplType.name" class="tpl-type-name ng-binding">产品研发阶段</p>
                    <ul class="survey-name-list">
                        <!-- ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=5&amp;survey_id=46812" target="_blank" class="ng-scope">
                            <li nowrap="" title="功能体验调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">功能体验调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=5&amp;survey_id=40139" target="_blank" class="ng-scope">
                            <li nowrap="" title="性能体验调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">性能体验调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=5&amp;survey_id=46816" target="_blank" class="ng-scope">
                            <li nowrap="" title="操作流程体验调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">操作流程体验调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=5&amp;survey_id=46814" target="_blank" class="ng-scope">
                            <li nowrap="" title="页面展示效果体验">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">页面展示效果体验</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                    </ul>
                </div>
                <!-- end ngRepeat: tplType in tplTypes -->
                <div class="survey-tpl-type ng-scope" ng-repeat="tplType in tplTypes" nowrap="" title="产品发布前" ng-click="selectTplType($index,$event)" ng-class="{selectedtype: $index==selectedTypeIndex}">
                    <div class="tpl-type-icon-area">
                        <div class="tpl-type-icon" ng-style="{'background':'url(/static/home/img/survey/'+tplType.icon+') no-repeat'}" style="background: url(&quot;/static/home/img/survey/before_product_listed.png&quot;) no-repeat;"></div>
                    </div>
                    <p ng-bind="tplType.name" class="tpl-type-name ng-binding">产品发布前</p>
                    <ul class="survey-name-list">
                        <!-- ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=6&amp;survey_id=40124" target="_blank" class="ng-scope">
                            <li nowrap="" title="价格接受度调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">价格接受度调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=6&amp;survey_id=40133" target="_blank" class="ng-scope">
                            <li nowrap="" title="产品名称测试">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">产品名称测试</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=6&amp;survey_id=46822" target="_blank" class="ng-scope">
                            <li nowrap="" title="用户触媒习惯调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">用户触媒习惯调研
                                </div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=6&amp;survey_id=46825" target="_blank" class="ng-scope">
                            <li nowrap="" title="广告语测试">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">广告语测试</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                    </ul>
                </div>
                <!-- end ngRepeat: tplType in tplTypes -->
                <div class="survey-tpl-type ng-scope" ng-repeat="tplType in tplTypes" nowrap="" title="产品发布后" ng-click="selectTplType($index,$event)" ng-class="{selectedtype: $index==selectedTypeIndex}">
                    <div class="tpl-type-icon-area">
                        <div class="tpl-type-icon" ng-style="{'background':'url(/static/home/img/survey/'+tplType.icon+') no-repeat'}" style="background: url(&quot;/static/home/img/survey/after_product_listed.png&quot;) no-repeat;"></div>
                    </div>
                    <p ng-bind="tplType.name" class="tpl-type-name ng-binding">产品发布后</p>
                    <ul class="survey-name-list">
                        <!-- ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=7&amp;survey_id=39769" target="_blank" class="ng-scope">
                            <li nowrap="" title="用户满意度调研">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">用户满意度调研</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=7&amp;survey_id=46834" target="_blank" class="ng-scope">
                            <li nowrap="" title="活动效果评估">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">活动效果评估</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=7&amp;survey_id=46954" target="_blank" class="ng-scope">
                            <li nowrap="" title="产品服务质量评测">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">产品服务质量评测</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=7&amp;survey_id=46958" target="_blank" class="ng-scope">
                            <li nowrap="" title="广告效果评估">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">广告效果评估</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                    </ul>
                </div>
                <!-- end ngRepeat: tplType in tplTypes -->
                <div class="survey-tpl-type ng-scope" ng-repeat="tplType in tplTypes" nowrap="" title="产品战略" ng-click="selectTplType($index,$event)" ng-class="{selectedtype: $index==selectedTypeIndex}">
                    <div class="tpl-type-icon-area">
                        <div class="tpl-type-icon" ng-style="{'background':'url(/static/home/img/survey/'+tplType.icon+') no-repeat'}" style="background: url(&quot;/static/home/img/survey/&quot;) no-repeat;"></div>
                    </div>
                    <p ng-bind="tplType.name" class="tpl-type-name ng-binding">产品战略</p>
                    <ul class="survey-name-list">
                        <!-- ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=8&amp;survey_id=60947" target="_blank" class="ng-scope">
                            <li nowrap="" title="产品定义">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">产品定义</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                    </ul>
                </div>
                <!-- end ngRepeat: tplType in tplTypes -->
                <div class="survey-tpl-type ng-scope" ng-repeat="tplType in tplTypes" nowrap="" title="产品品质" ng-click="selectTplType($index,$event)" ng-class="{selectedtype: $index==selectedTypeIndex}">
                    <div class="tpl-type-icon-area">
                        <div class="tpl-type-icon" ng-style="{'background':'url(/static/home/img/survey/'+tplType.icon+') no-repeat'}" style="background: url(&quot;/static/home/img/survey/&quot;) no-repeat;"></div>
                    </div>
                    <p ng-bind="tplType.name" class="tpl-type-name ng-binding">产品品质</p>
                    <ul class="survey-name-list">
                        <!-- ngRepeat: survey in tplType.survey -->
                        <a ng-repeat=" survey in tplType.survey" href="http://mtc.baidu.com/survey/home/createSurvey?type_id=9&amp;survey_id=60948" target="_blank" class="ng-scope">
                            <li nowrap="" title="产品体验">
                                <div class="rect-dot"></div>
                                <div ng-bind="survey.desc_name" class="survey-name ng-binding">产品体验</div>
                            </li>
                        </a>
                        <!-- end ngRepeat: survey in tplType.survey -->
                    </ul>
                </div>
                <!-- end ngRepeat: tplType in tplTypes -->
                <div class="survey-tpl-type" id="create_empty_survey">
                    <div class="create-empty-survey-area">
                        <a class="create-empty-survey" [routerLink]="['/pages/questionnaire/create']" [routerLinkActive]="['active']" target="_blank">+</a>
                        <a [routerLink]="['/pages/questionnaire/create']" [routerLinkActive]="['active']" target="_blank">创建空白问卷</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>