<div class="wjContent">
    <div class="content ptop Tj">
        <div class="templates">
            <div class="proheaddiv">
                <div class="Mbgen_title">
                    <ul class="nav_block clearfix">
                        <li>
                            <a href="/">问卷网</a>
                            <s class="arrowr"></s>
                        </li>
                        <li>
                            <a href="/lib">问卷模板</a>
                            <s class="arrowr"></s>
                        </li>


                        <li>
                            <a href="/official/edu_f_official_1">学术教育</a>
                            <s class="arrowr"></s>
                        </li>


                        <li>
                            <a href="#" class="active">大学生网购调查问卷</a>
                        </li>
                    </ul>
                </div>
                <div class="reldiv">
                    <h1 class="alignc h3">大学生网购调查问卷</h1>
                    <div class="mtop2 lookdiv">
                        问卷概况：
                        <span>17</span> 个问题
                        <span>1</span> 页 已被引用
                        <span>19257</span> 次
                        <a target="_blank" href="/s/2Az6Vz?test=1" title="模拟答题" class="N_view" rel="nofollow">预览</a>
                    </div>
                    <div class="mtop2 lookdiv">
                        <span class="fL">您好，我们是XXX，我们正在进行一项关于大学生网购的调查，想邀请您用几分钟时间帮忙填答这份问卷。本问卷实行匿名制，所有数据只用于统计分析， 请您放心填写。题目选项无对错之分，请您按自己的实际情况填写。谢谢您的帮助。</span>
                    </div>
                    <div nowrap="">
                        <br>

                        <span style="color:#0066ff">本页为该问卷的详细内容，不可回答，仅供预览。如果您要使用该问卷，请点击页面下方的引用按钮。</span>

                    </div>
                    <div class="wjhr mtop"></div>
                    <div class="ques mtop">

                        <div class="wjques">


                            <div class="title">Q1：您的性别？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>男</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>女</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q2：你所在的年级？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>大一</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>大二</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>大三</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>大四</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>研究生</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q3：你过去3个月是否曾经在网络上购买东西？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>是</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>否</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q4：你选择网络购物的主要原因是？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>方便快捷，节省时间</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>品种齐全</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>价格便宜</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>时尚有趣</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>实体店难以买到</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>网购时间不受限制</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q5：你主要在哪些网站上购买东西？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>淘宝网</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>京东商城</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>卓越亚马逊</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>当当网</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>拍拍网</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q6：你在网上主要购买哪些东西？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>服饰鞋帽</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>饰品</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>电子产品</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>生活日用品</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>化妆品</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>书籍</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q7：你选择这些网站购物，主要看重哪些因素？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>产品种类的丰富性</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>网站页面设计</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>网站广告宣传和促销</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>销售商家信用度</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>商家服务态度和互动程度</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>网站/品牌知名度</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>退换货便利性</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>产品价格</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>产品质量描述</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>发货及送货速度</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>售后服务</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>购买者评论</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q8：你平时网购的频率是？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>每天一次或以上</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>每周４－５次</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>每周２－３次</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>每周１次</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>每月５－６次</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>每月２－３次</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>每月１次</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>少于每月一次</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q9：你平均每个月花费在网购上的费用是多少钱？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>１００元以内</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>１００－３００元</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>３０１－５００元</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>５０１－１０００元</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>１０００元以上</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q10：你喜欢的促销方式有哪些？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>免邮费</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>打折</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>送分送礼物</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>赠送优惠券</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px">  □  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q11：网购时，你经常使用哪种付款方式？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>网上支付</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>货到付款</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>邮局汇款</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>银行转账</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q12：你对网银、支付宝、财富通等网络支付手段的态度？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>放心，方便快捷又安全</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>比较放心</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>不放心，感觉不安全</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q13：网购时，对于货物，你通常采用哪种邮递方式？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>平邮</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>快递</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>ＥＭＳ</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q14：网购时，你对于货物送达能够接受的最长时间是？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>１天</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>２－３天</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>４－５天</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>６－７天</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>８－１０天</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>无所谓</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q15：网购过程，你最担心的因素是？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>支付的安全性</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>商家的诚信</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>图片和实物有差距</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>产品质量不合格</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>运货过程货物受损</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>其他</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q16：总体而言，你对网购是否满意？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>非常满意</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>比较满意</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>一般</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>不满意</span>
                                    </div>
                                    <div class="icheckbox_div"><span style="font-size:25px"> ○  </span>
                                        <span>非常不满意</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wjques">


                            <div class="title">Q17：你对网购有什么改善建议？</div>
                            <div class="matrix">
                                <div id="qwe" class="matrix">
                                    <div class="icheckbox_div">
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;____________</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <br>

                    <div class="resultbtn mtop">
                        <a href="javascript:;">
                            <div class="WJButton wj_color" id="ref_proj">使用该问卷</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>