.wjContent {
    background-color: #eceeef!important;
}

.wjContent {
    width: 100%;
    min-height: 300px;
    background: #fff;
    padding-bottom: 20px;
    min-width: 990px;
    z-index: 888;
    margin-top: 72px;
}

.content {
    width: 990px;
    min-height: 550px;
    margin: 0 auto;
    color: #828282;
    position: relative;
}

.N_view {
    position: static;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    width: 49px;
    height: 21px;
    line-height: 1px;
    border-radius: 3px;
    background-color: #5cb85c
}

.ptop {
    padding-top: 30px;
}

.templates {
    position: relative;
}

.proheaddiv {
    /* border: 1px #dbdbdb solid; */
    min-height: 419px;
    background-color: #fff;
}

.Mbgen_title {
    height: 49px;
    line-height: 49px;
    background: #fff;
    padding: 0 40px;
    font-size: 15px;
    color: #5B5B5B;
    background-color: #F6F6F6;
}

.alignc {
    text-align: center;
}

.wjques .title {
    font-size: 14px;
    color: #4c4c4c;
    margin-left: -10px;
    padding-bottom: 3px;
}

.clearfix {
    display: block;
}

.templates ul li {
    display: inline;
}

.Mbgen_title li {
    padding-right: 20px;
}

.Mbgen_title li a,
.Mbgen_title li {
    display: inline;
    position: relative;
    color: #999;
}

.Mbgen_title li a,
.Mbgen_title li {
    display: inline;
    position: relative;
    color: #999;
}

.arrowr {
    position: absolute;
    height: 0;
    width: 0;
    top: 6px;
    right: 9px;
    float: right;
    border-top: 5px solid transparent;
    border-left: 5px solid #989697;
    border-bottom: 5px solid transparent;
}

.reldiv {
    padding: 20px 40px;
    min-height: 400px;
}

.reldiv h1.h3 {
    font-size: 1.17rem;
    color: #4c4c4c;
}

.lookdiv {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #4c4c4c;
    font-size: 14px;
}

.mtop2 {
    margin-top: 15px;
}

.fL {
    float: left;
}

.wjhr {
    background: #ccc;
    height: 2px;
    width: 100%;
}

.mtop {
    margin-top: 24px;
}

.wjques {
    margin-bottom: 10px;
}

.resultbtn {
    text-align: center;
}

.WJButton {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    outline: medium none;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    background: #53a4f4;
    margin-left: 20px;
    color: #fff;
    height: 28px;
    line-height: 28px;
    min-width: 48px;
    position: relative;
}

.wj_color {
    color: #F7F7F7;
    /* background: #f07804; */
    background: #0099FF;
}

.nav_block {
    margin-left: -42px;
}