<div class="wjContent">
    <div class="content ptop Tj">
        <div class="templates" *ngIf="questionnaire">
            <div class="proheaddiv">
                <div class="Mbgen_title">
                    <ul class="nav_block clearfix">

                        <li>
                            <span>问卷模板</span>
                            <s class="arrowr"></s>
                        </li>
                        <li>
                            <span class="active">{{questionnaire.questionnaireName}}</span>
                        </li>
                    </ul>
                </div>
                <div class="reldiv">
                    <h1 class="alignc h3">{{questionnaire.questionnaireName}}</h1>
                    <div class="mtop2 lookdiv">
                        问卷概况：
                        <span>{{questionnaire.questions.length}}</span> 个问题
                        <button title="导出" class="N_view" rel="nofollow">导出</button>
                    </div>
                    <div class="mtop2 lookdiv">
                        <span class="fL">{{questionnaire.questionnairePrompt}}</span>
                    </div>
                    <div nowrap="" id="describe">
                        <br>

                        <span style="color:#0066ff">本页为该问卷的详细内容，不可回答，仅供预览。如果您要使用该问卷，请点击页面下方的引用按钮。</span>

                    </div>
                    <div class="wjhr mtop"></div>
                    <div class="ques mtop">
                        <div id="question-box" class="ui-sortable">
                            <!--题目区域开始-->
                            <div class="topic-type-content topic-type-question after-clear" *ngFor="let item of questionnaire.questions;let i = index;">
                                <!--单选题开始-->
                                <div *ngIf="item.questionGenre==0">
                                    <div class="question-title" type="6" name="radio-question"><span class="required" [hidden]="!item.isNecessary">*</span><span class="question-id" order="2" page="1" index="1" absolute_id="5" question-required="Y" has_other="N" title-quote="N" choice-quote="0">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" tabindex="0" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent">
                                                {{item.questionTitle}}
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="question-choice">
                                        <li class="choice" has_other="N" choice_absolute_id="1" *ngFor="let itemChoice of item.questionChoice; let qc = index">
                                            <input type="radio" name="radio">
                                            <div class="position-relative">
                                                <div class="edit-area edit-child-element" contenteditable="true" content-default="1" [textContent]="itemChoice.text" (input)="itemChoice.text=$event.target.textContent">
                                                    {{itemChoice.text}}
                                                </div>
                                                <span title="删除" (click)="deleteQuestionChoice(i,qc)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            </div>
                                            <div class="option-tips"></div>
                                        </li>
                                    </ul>
                                    <div class="add-area visible-show">
                                        <ul>
                                            <li class="add-choice" title="增加" (click)="addQuestionChoice(i,item.questionGenre)"><i class="fa fa-plus-square-o" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                    <div class="operate visible-show">
                                        <ul>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--单选题结束-->

                                <!--下拉选择题开始-->
                                <div *ngIf="item.questionGenre==1">
                                    <div class="question-title" type="7" name="select-question">
                                        <span class="required" [hidden]="!item.isNecessary">*</span>
                                        <span class="question-id" order="3" page="1" index="2" absolute_id="6" question-required="Y" has_other="N" title-quote="N" choice-quote="0">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" tabindex="0" contenteditable="true" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent">
                                                {{item.questionTitle}}
                                            </div>
                                        </div>
                                    </div>
                                    <select class="question-choice" style="padding: 0;margin: 15px 0 20px 35px;" [hidden]="item.isEdit">
                                             <option class="choice" has_other="N" choice_absolute_id="1" *ngFor="let itemChoice of item.questionChoice; let qc = index"> {{itemChoice.text}}</option>
                                            </select>
                                    <ul class="question-choice" [hidden]="!item.isEdit">
                                        <li class="choice" has_other="N" choice_absolute_id="1" *ngFor="let itemChoice of item.questionChoice; let qc = index">
                                            <input type="radio" name="radio">
                                            <div class="position-relative">
                                                <div class="edit-area edit-child-element" contenteditable="true" content-default="1" [textContent]="itemChoice.text" (input)="itemChoice.text=$event.target.textContent">
                                                    {{itemChoice.text}}
                                                </div>
                                                <span title="删除" (click)="deleteQuestionChoice(i,qc)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            </div>
                                            <div class="option-tips"></div>
                                        </li>
                                    </ul>
                                    <span class="edit-select" style="width: 60%;display: inline-block;line-height: 30px;" (click)="editSelect(i)" [hidden]="item.isEdit">编辑选项</span>
                                    <div class="add-area visible-show" [hidden]="!item.isEdit">
                                        <ul>
                                            <li class="add-choice" title="增加" (click)="addQuestionChoice(i,item.questionGenre)"><i class="fa fa-plus-square-o" aria-hidden="true"></i></li>
                                            <li class="finish_edit_select" (click)="finishEditSelect(i)" style="width: 75px;cursor: pointer;">完成编辑</li>
                                        </ul>
                                    </div>
                                    <div class="operate visible-show">
                                        <ul>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--下拉选择题结束-->

                                <!--多选题开始-->
                                <div *ngIf="item.questionGenre==2">
                                    <div class="question-title" type="8" name="checkbox-question"><span class="required" [hidden]="!item.isNecessary">*</span>
                                        <span class="question-id" order="4" page="1" index="3" absolute_id="7" question-required="Y" has_other="N" title-quote="N" choice-quote="0" min="" max="" exclusive-options="">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" tabindex="0" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent">
                                                {{item.questionTitle}}
                                            </div>
                                            <span title="删除" (click)="deleteQuestionChoice(i,qc)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <ul class="question-choice">
                                        <li class="choice" has_other="N" choice_absolute_id="1" *ngFor="let itemChoice of item.questionChoice; let qc = index">
                                            <input type="checkbox" name="checkbox">
                                            <div class="position-relative">
                                                <div class="edit-area edit-child-element" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="itemChoice.text" (input)="itemChoice.text=$event.target.textContent">
                                                    {{itemChoice.text}}
                                                </div>
                                            </div>
                                            <div class="option-tips"></div>
                                        </li>
                                    </ul>
                                    <div class="add-area visible-show">
                                        <ul>
                                            <li class="add-choice" title="增加" (click)="addQuestionChoice(i,item.questionGenre)">
                                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="operate visible-show">
                                        <ul>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--多选题结束-->

                                <!--单行填空题开始-->
                                <div *ngIf="item.questionGenre==3">
                                    <div class="question-title" type="1" name="input-question">
                                        <span class="required" [hidden]="!item.isNecessary">*</span>
                                        <span class="question-id" order="5" page="1" index="4" absolute_id="8" question-required="Y" has_other="N" title-quote="N">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent">
                                                {{item.questionTitle}}
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="question-choice">
                                        <li><input type="text" name="input" class="input-single"></li>
                                    </ul>
                                    <div class="operate visible-show">
                                        <ul>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--单行填空题结束-->

                                <!--多行填空题开始-->
                                <div *ngIf="item.questionGenre==4">
                                    <div class="question-title" type="1" name="input-question">
                                        <span class="required" [hidden]="!item.isNecessary">*</span>
                                        <span class="question-id" order="5" page="1" index="4" absolute_id="8" question-required="Y" has_other="N" title-quote="N">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent">
                                                {{item.questionTitle}}
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="question-choice">
                                        <li class="auto-height"><textarea name="multi-input" class="multi-input"></textarea></li>
                                    </ul>
                                    <div class="operate visible-show">
                                        <ul>
                                            <li class="drag-area" title="移动"><i class="fa fa-arrows-alt" aria-hidden="true"></i></li>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--多行填空题结束-->

                                <!--矩阵单选题开始-->
                                <div *ngIf="item.questionGenre==5">
                                    <div class="question-title" type="9" name="radio-matrix-question"><span class="required" [hidden]="!item.isNecessary">*</span><span class="question-id" order="8" page="1" index="7" absolute_id="11" question-required="Y" has_other="N" title-quote="N">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent"> {{item.questionTitle}}</div>
                                        </div>
                                    </div>
                                    <ul class="question-choice" style="float:left;width: 700px;">
                                        <li class="auto-height">
                                            <table style="border-collapse: collapse;">
                                                <tbody>
                                                    <tr *ngFor="let itemLine of item.questionChoice[0].line; let line=index">
                                                        <td class="radio_array_title edit-area" name="checkbox-matrix" contenteditable="true">
                                                            {{itemLine.text}}
                                                            <span *ngIf="line!=0" class="matrixdeleteChoice" (click)="deleteMatrixQuestionChoice(i,0,line)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                        </td>
                                                        <td name="checkbox-matrix-choice" *ngFor="let itemChoice of item.questionChoice[0].choice;let qc=index">
                                                            <div class="position-relative" style="width:100%" *ngIf="line==0">
                                                                <li class="choice edit-area matrix-choice" has_other="N" contenteditable="true" content-default="1">
                                                                    {{itemChoice.text}}
                                                                    <span class="matrixdeleteChoice" (click)="deleteMatrixQuestionChoice(i,1,qc)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </li>
                                                            </div>
                                                            <input type="radio" *ngIf="line!=0">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                    <div class="add-area visible-show" style="width: 34px; margin: 0px 0 0 46px;" choice="Y">
                                        <ul>
                                            <li class="add-choice" (click)="addMatrixQuestionChoice(i,0)">
                                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-area visible-show" choice="N">
                                        <ul>
                                            <li class="add-choice" (click)="addMatrixQuestionChoice(i,1)">
                                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="operate visible-show">
                                        <ul>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--矩阵单选题结束-->

                                <!--矩阵多选题开始-->
                                <div *ngIf="item.questionGenre==6">
                                    <div class="question-title" type="13" name="checkbox-matrix-question"><span class="required" [hidden]="!item.isNecessary">*</span>
                                        <span class="question-id" order="9" page="1" index="8" absolute_id="12" question-required="Y" has_other="N" title-quote="N">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent"> {{item.questionTitle}}</div>
                                        </div>
                                    </div>
                                    <ul class="question-choice" style="float:left;width: 700px;">
                                        <li class="auto-height">
                                            <table style="border-collapse: collapse;">
                                                <tbody>
                                                    <tr *ngFor="let itemLine of item.questionChoice[0].line; let line=index">
                                                        <td class="checkbox_array_title edit-area" name="checkbox-matrix" contenteditable="true">
                                                            {{itemLine.text}}
                                                            <span *ngIf="line!=0" class="matrixdeleteChoice" (click)="deleteMatrixQuestionChoice(i,0,line)"> <i class="fa fa-times" aria-hidden="true"></i></span>
                                                        </td>
                                                        <td name="checkbox-matrix-choice" *ngFor="let itemChoice of item.questionChoice[0].choice; let qc=index">
                                                            <div class="position-relative" style="width:100%" *ngIf="line==0">
                                                                <li class="choice edit-area matrix-choice" has_other="N" contenteditable="true" content-default="1">
                                                                    {{itemChoice.text}}
                                                                    <span class="matrixdeleteChoice" (click)="deleteMatrixQuestionChoice(i,1,qc)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                </li>
                                                            </div>
                                                            <input type="checkbox" *ngIf="line!=0">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                    <div class="add-area visible-show" style="width: 34px; margin: 0px 0 0 46px;" choice="Y">
                                        <ul>
                                            <li class="add-choice" (click)="addMatrixQuestionChoice(i,0)">
                                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="add-area visible-show" choice="N">
                                        <ul>
                                            <li class="add-choice" (click)="addMatrixQuestionChoice(i,1)">
                                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="operate visible-show">
                                        <ul>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--矩阵多选题结束-->

                                <!--图片单选开始-->
                                <div *ngIf="item.questionGenre==7">
                                    <div class="question-title" type="14" name="radio-question">
                                        <span class="required" [hidden]="!item.isNecessary">*</span>
                                        <span class="question-id" order="10" page="1" index="9" absolute_id="13" question-required="Y" has_other="N" title-quote="N" choice-quote="0">
                                                Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="position-relative">
                                                <div class="qs-content edit-area edit-title" tabindex="0" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent"> {{item.questionTitle}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="question-choice Matrix">
                                        <li class="choice survey-question-radio-img" has_other="N" choice_absolute_id="2" *ngFor="let itemChoice of item.questionChoice; let qc = index">
                                            <div class="survey-question-radio-choice edit-area-active">
                                                <div class="survey-question-radio-choice-img">
                                                    <a class="remove-child-element survey-question-radio-img-remove" (click)="deleteQuestionChoice(i,qc)"></a> <img src="http://bj.bcebos.com/mtcapp///25fb9ad3363eb4414b6ef4713c584bc7."> </div>
                                                <div class="survey-question-radio-choice-text"> <input type="radio" name="radio">
                                                    <label class="edit-area edit-child-element" contenteditable="true" style="background: rgb(255, 255, 255);" [textContent]="itemChoice.text" (input)="itemChoice.text=$event.target.textContent">
                                                             {{itemChoice.text}}
                                                         </label>
                                                    <div class="option-tips"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <!--图片单选结束-->

                                <!--图片多选开始-->
                                <div *ngIf="item.questionGenre==8">
                                    <div class="question-title" type="15" name="checkbox-question">
                                        <span class="required" [hidden]="!item.isNecessary">*</span><span class="question-id" order="10" page="1" index="10" absolute_id="14" question-required="Y" has_other="N" title-quote="N" choice-quote="0" min="" max="">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" tabindex="0" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent"> {{item.questionTitle}}</div>
                                        </div>
                                    </div>
                                    <ul class="question-choice Matrix">
                                        <li class="choice survey-question-radio-img" has_other="N" choice_absolute_id="2" *ngFor="let itemChoice of item.questionChoice; let qc = index">
                                            <div class="survey-question-radio-choice edit-area-active">
                                                <div class="survey-question-radio-choice-img">
                                                    <a class="remove-child-element survey-question-radio-img-remove" (click)="deleteQuestionChoice(i,qc)"></a> <img src="http://bj.bcebos.com/mtcapp///25fb9ad3363eb4414b6ef4713c584bc7."> </div>
                                                <div class="survey-question-radio-choice-text"> <input type="checkbox" name="checkbox">
                                                    <label class="edit-area edit-child-element" contenteditable="true" style="background: rgb(255, 255, 255);" [textContent]="itemChoice.text" (input)="itemChoice.text=$event.target.textContent">
                                                             {{itemChoice.text}}
                                                         </label>
                                                    <div class="option-tips"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="operate visible-show" style="margin-top: 175px">
                                        <ul>
                                            <li class="question-handle" title="操作" (click)="questionHandle(i)"><i class="fa fa-align-justify" aria-hidden="true"></i></li>
                                            <li class="question-delete" title="删除" (click)="questionDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--图片多选结束-->

                                <!--描述说明开始-->
                                <div *ngIf="item.questionGenre==9">
                                    <div class="question-title" type="15" name="checkbox-question">
                                        <span class="required" [hidden]="!item.isNecessary">*</span><span class="question-id" order="10" page="1" index="10" absolute_id="14" question-required="Y" has_other="N" title-quote="N" choice-quote="0" min="" max="">Q{{i+1}}</span>
                                        <div class="position-relative">
                                            <div class="qs-content edit-area edit-title" tabindex="0" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);" [textContent]="item.questionTitle" (input)="item.questionTitle=$event.target.textContent"> {{item.questionTitle}}</div>
                                        </div>
                                    </div>
                                    <div class="question-title" type="10" name="description"><span class="question-id" order="11" page="1" index="0" absolute_id="15" question-required="N" has_other="N"></span>
                                        <div class="position-relative">
                                            <div class="qs-content qs-high-content edit-area edit-title" contenteditable="true" content-default="1" style="background: rgb(255, 255, 255);border: 1px solid #dbdbdb;">描述说明</div>
                                        </div>
                                    </div>
                                </div>
                                <!--描述说明结束-->
                            </div>
                            <!--题目区域结束-->
                        </div>
                    </div>
                    <br>

                    <div class="resultbtn mtop">
                        <a href="javascript:;">
                            <div class="WJButton wj_color" id="ref_proj">使用该问卷</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>