.searchbox {
    margin-right: 40px
}

.userbox {
    background-color: burlywood;
    margin-top: 3px;
    margin-bottom: 3px
}

.signup {
    margin-right: 10px;
    margin-left: 50px
}

.login {
    margin-right: 50px;
}

.logo {
    width: 60px;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 5px
}

.navbar-brand {
    font-size: 25px;
    color: #3e3737 !important;
    margin-left: 15%;
}

.bg-inverse {
    background-color: #b8b8c5 !important;
}

.nav-item {
    margin-left: 20px;
    margin-right: 10px;
}

.navbar-inverse .navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link.active {
    color: white !important;
}