<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#"><img src="../../assets/img/logo.jpg" class="logo" /><span>surveyStar</span></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">首页  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">话题讨论</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">模板</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">问卷</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">报告</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0 searchbox">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right userbox">
            <li class="signup"><i class="fa fa-user-plus" aria-hidden="true" style="margin-right: 1px"></i> <a [routerLink]="['/signup']" [routerLinkActive]="['active']">注册</a></li>
            <li class="login"><i class="fa fa-sign-in" aria-hidden="true" style="margin-right: 2px"></i><a [routerLink]="['/login']" [routerLinkActive]="['active']">登录</a></li>
        </ul>
    </div>
</nav>