<p class="bce-breadcrumb">
    <span>问卷调研</span>
    <span class="divider">/</span>
    <span class="active">问卷模板</span>
</p>
<div class="survey-template-wrap">
    <div class="survey-template-nav">
        <span style="font-size: 18px; color: #333; margin-left: 20px">问卷模板</span>
    </div>
    <!-- ngView:  -->
    <div ng-view="" class="ng-scope">
        <div class="survey-template-content ng-scope">
            <div class="survey-template-list">
                <div class="survey-tpl-list-body">
                    <div class="survey-tpl-name">
                        <div class="area-title ng-binding" ng-bind="selectedCategory.name">全部</div>
                        <div class="template-name-filter">
                            <div class="bce-ui-textbox vm">
                                <input type="text" placeholder="问卷名称" ng-model="searchTplName" class="ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="bce-ui-button bce-skin-primary-button vm" (click)="filter(null)">搜索</div>
                        </div>
                        <!--
                        <div class="order-select-area" ng-hide="emptyList">
                            <div class="select-desc">排序</div>
                            <div class="bce-ui-select-wrap">
                                <div class="bce-ui-select" ng-click="expandSelect()" ng-class="{true: 'bce-ui-select-active'}[isExpanded]">
                                    <span ng-bind="orderAry[filter.display_order_attr]" class="ng-binding">按使用次数 <i aria-hidden="true" class="fa fa-chevron-down"></i></span>
                                    <ul ng-show="isExpanded" class="bce-ui-select-layer ng-hide">
                                        <li class="bce-ui-select-item ng-binding ng-scope" ng-repeat="(k,v) in orderMap" ng-bind="orderAry[v]" ng-click="orderChanged(v)">按使用次数</li>
                                        <li class="bce-ui-select-item ng-binding ng-scope" ng-repeat="(k,v) in orderMap" ng-bind="orderAry[v]" ng-click="orderChanged(v)">按作者姓名</li>
                                        <li class="bce-ui-select-item ng-binding ng-scope" ng-repeat="(k,v) in orderMap" ng-bind="orderAry[v]" ng-click="orderChanged(v)">按问卷名称</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        -->
                        <ul class="survey-tpl-name-list" ng-hide="emptyList">
                            <!-- ngRepeat: template in templateList -->
                            <li *ngFor="let item of questionList" nowrap="" title="{{item.questionnaireName}}" ng-click="selectTemplate(template,$event)" ng-class="{selectedsurvey: template.id==selectedTemplate.id}" class="ng-scope">
                                <div ng-bind="template.name" class="template-name ng-binding">{{item.questionnaireName}}</div>
                                <div class="template-info">
                                    <div class="template-info-item ng-binding">类别：{{item.questionnaireType | emQuestionnaireType}}</div>
                                    <div class="template-info-item ng-binding">作者：{{item.user}}</div>
                                    <div class="template-info-item ng-binding">创建日期：{{item.createTime}}</div>
                                    <div class="template-info-item ng-binding">使用次数：9040</div>
                                    <div class="template-info-item ng-binding">题目数：18</div>
                                </div>
                            </li>
                        </ul>
                        <!-- ngIf: emptyList -->
                    </div>
                    <div class="survey-tpl-type">
                        <div class="survey-tpl-type-head ng-binding" ng-bind="categoryParent.name">行业分类</div>
                        <ul>
                            <!-- ngRepeat: category in tplCategorys -->
                            <li ng-repeat="category in tplCategorys" nowrap="" title="全部" (click)="filter(-1)" [ngClass]="{selectedtype: genreIndex==-1}" class="ng-scope selectedtype">
                                <div ng-bind="category.name" class="ng-binding">全部</div>
                            </li>
                            <!-- end ngRepeat: category in tplCategorys -->
                            <li ng-repeat="category in tplCategorys" nowrap="" title="产品调研阶段" (click)="filter(1)" [ngClass]="{selectedtype: genreIndex==1}" class="ng-scope">
                                <div ng-bind="category.name" class="ng-binding">产品调研阶段</div>
                            </li>
                            <!-- end ngRepeat: category in tplCategorys -->
                            <li ng-repeat="category in tplCategorys" nowrap="" title="产品研发阶段" (click)="filter(2)" [ngClass]="{selectedtype: genreIndex==2}" class="ng-scope">
                                <div ng-bind="category.name" class="ng-binding">产品研发阶段</div>
                            </li>
                            <!-- end ngRepeat: category in tplCategorys -->
                            <li ng-repeat="category in tplCategorys" nowrap="" title="产品发布前" (click)="filter(3)" [ngClass]="{selectedtype: genreIndex==3}" class="ng-scope">
                                <div ng-bind="category.name" class="ng-binding">产品发布前</div>
                            </li>
                            <!-- end ngRepeat: category in tplCategorys -->
                            <li ng-repeat="category in tplCategorys" nowrap="" title="产品发布后" (click)="filter(4)" [ngClass]="{selectedtype: genreIndex==4}" class="ng-scope">
                                <div ng-bind="category.name" class="ng-binding">产品发布后</div>
                            </li>
                            <li ng-repeat="category in tplCategorys" nowrap="" title="产品发布后" (click)="filter(5)" [ngClass]="{selectedtype: genreIndex==5}" class="ng-scope">
                                <div ng-bind="category.name" class="ng-binding">产品战略</div>
                            </li>
                            <li ng-repeat="category in tplCategorys" nowrap="" title="产品发布后" (click)="filter(6)" [ngClass]="{selectedtype: genreIndex==6}" class="ng-scope">
                                <div ng-bind="category.name" class="ng-binding">产品品质</div>
                            </li>
                            <!-- end ngRepeat: category in tplCategorys -->
                            <li ng-repeat="category in tplCategorys" nowrap="" title="其他" (click)="filter(0)" [ngClass]="{selectedtype: genreIndex==0}" class="ng-scope">
                                <div ng-bind="category.name" class="ng-binding">其他</div>
                            </li>
                            <!-- end ngRepeat: category in tplCategorys -->
                        </ul>
                    </div>
                </div>
                <div class="survey-tpl-feedback" ng-click="feedback($event)">
                    <img>
                    <span>模板不够用？告诉小编来加料</span>
                </div>
            </div>
            <div class="mtc-pagination" style="float: left;width: 100%;;float: left;width: 100%;" ng-hide="emptyList">
                <page [(pagination)]="pagination">
                </page>
            </div>
            <div class="survey-tpl-detail" id="slider" style="position: fixed; width: 800px; transition: all 700ms ease; height: 100%; top: 0px; right: -800px;">
                <!-- ngInclude: includeDetailUrl() -->
                <div ng-include="includeDetailUrl()" class="ng-scope">
                    <div class="survey-preview ng-scope">
                        <div class="survey-preview-header">
                            <div class="tpl-button" ng-click="copy(selectedSurvey,$event)">引用模板</div>
                            <a class="tpl-button" href="" target="_blank">试填问卷</a>
                            <span class="survey-close" ng-click="closeSurveyTplDedtail($event)">×</span>
                        </div>
                        <div class="survey-name ng-binding" ng-bind="surveyName"></div>
                        <div class="survey-preview-content">
                            <!-- ngRepeat: page in surveyPages -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>