<div class="Mbdiv">
    <hr class="Mb_hr">
    <div class="Mbdiv_title w730">
        <h2>推荐调查</h2>
        <a [routerLink]="['/pages/template/list']" [routerLinkActive]="['active']" class="Mb_more"></a>
    </div>
    <div class="Mbdiv_list_r">

        <div class="tem_l" *ngFor="let item of questionRList">
            <div class="temtitleb">
                <a [routerLink]="['/pages/template/detail',item.questionnaireId]" [routerLinkActive]="['active']" target="_blank">
                    <p>{{item.questionnaireName}}</p>
                </a>
            </div>
            <div class="temcon">
                <span>分类：{{item.questionnaireType | emQuestionnaireType}}</span>
                <span>创建日期：{{item.createTime}}</span>
                <span>共{{3}}个问题</span>
            </div>
        </div>
        <div class="bbottom"></div>
    </div>
</div>
<div class="Mbdiv">
    <div class="Mbdiv_title">
        <h2>用户共享问卷</h2>
        <a [routerLink]="['/pages/template/list']" [routerLinkActive]="['active']" class="Mb_more">更多</a>
    </div>
    <div class="Mbdiv_list">

        <div class="tem" *ngFor="let item of questionUlist">
            <div class="temtitle">
                <a [routerLink]="['/pages/template/detail',item.questionnaireId]" [routerLinkActive]="['active']" target="_blank">
                    <p>{{item.questionnaireName}}</p>
                </a>
                <span>共{{9}}个问题</span>
            </div>
            <div class="temcon">
                <span>分类：{{item.questionnaireType | emQuestionnaireType}}</span>
                <span>作者：{{item.user}}</span>
                <span>创建日期：{{item.createTime}}</span>
            </div>
            <div class="text">
                {{item.questionnairePrompt}}
            </div>
        </div>
    </div>
</div>