<div id="footer">
    <div class="main">
        <p>
            <a href="#">关于我们</a> -
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1040015203&amp;site=qq&amp;menu=yes" rel="external nofollow" target="_blank" title="联系QQ">QQ对话</a> -
            <span data-toggle="modal" data-target="#gridSystemModal" class="Liability" (click)="dialogClick(1)">技术支持</span> -
            <span data-toggle="modal" data-target="#gridSystemModal" class="Liability" (click)="dialogClick(2)">免责声明</span> -
            <span data-toggle="modal" data-target="#gridSystemModal" class="Liability" (click)="dialogClick(3)">联系我们</span> -
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=987c2953ec67295cab368d9497da678b12a59c0fd2befa17b0559080de66d5df">加入我们</a> -
            <a href="mailto:1040015203@qq.com">在线投稿</a>
        </p>
        <p>&#169;CopyRight 2017. 浙江工业大学</p>
    </div>
    <div [hidden]="!navIsFixed">
        <img src="assets/img/gotop.jpg" id="ScrollToTop" (click)="goTop()">
    </div>
</div>
<!--end footer-->
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="print-section">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridModalLabel">{{dialogConfig.title}}</h4>
                </div>
                <div class="modal-body" [innerHtml]="dialogConfig.content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" [hidden]="!isPrint" class="btn btn-primary" (click)="print()">打印</button>
            </div>
        </div>
    </div>
</div>