<div class="create_index">
    <div class="index_center" style="padding-top: 50.5px;padding-left: 270px;padding-bottom: 49px;">
        <ul class="clearfix">
            <li class="question">
                <div class="bt">
                    问卷
                </div>
                <dl>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dcc">品牌营销</a></dd>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dcd">产品测试</a></dd>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dce">消费者分析</a></dd>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dcf">满意度调查</a></dd>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dd0">人力资源</a></dd>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dd1">学术教育</a></dd>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dd2">社会民意</a></dd>

                    <dd><a href="/create?project_func=51dd234e9b9fbe6646bf4dd3">...</a></dd>

                </dl>
                <a [routerLink]="['/pages/template/createOrEdit']" [routerLinkActive]="['active']" class="btn">创建</a>
            </li>
            <li class="form">
                <div class="bt">
                    表单
                </div>
                <dl>

                    <dd><a href="/create?p_type=1&amp;project_func=536b5a38f7405b4d51ca75c6">报名</a></dd>

                    <dd><a href="/create?p_type=1&amp;project_func=536b5a38f7405b4d51ca75c7">登记</a></dd>

                    <dd><a href="/create?p_type=1&amp;project_func=536b5a38f7405b4d51ca75c8">邀请</a></dd>

                    <dd><a href="/create?p_type=1&amp;project_func=536b5a38f7405b4d51ca75c9">反馈</a></dd>

                    <dd><a href="/create?p_type=1&amp;project_func=536b5a38f7405b4d51ca75ca">订单</a></dd>

                    <dd><a href="/create?p_type=1&amp;project_func=536b5a38f7405b4d51ca75cb">记事</a></dd>

                    <dd><a href="/create?p_type=1&amp;project_func=536b5a38f7405b4d51ca75cc">...</a></dd>

                </dl>
                <a [routerLink]="['/pages/template/createOrEdit']" [routerLinkActive]="['active']" class="btn">创建</a>
            </li>
            <li class="evaluation">
                <div class="bt">
                    测评
                </div>
                <dl>

                    <dd><a href="/create?p_type=2&amp;project_func=54b638e0f7405b3dc0db45fb">培训考评</a></dd>

                    <dd><a href="/create?p_type=2&amp;project_func=54b638e0f7405b3dc0db45fc">教学测验</a></dd>

                    <dd><a href="/create?p_type=2&amp;project_func=54b638e0f7405b3dc0db45fd">员工考核</a></dd>

                    <dd><a href="/create?p_type=2&amp;project_func=54b638e0f7405b3dc0db45fe">趣味测试</a></dd>

                    <dd><a href="/create?p_type=2&amp;project_func=54b638e0f7405b3dc0db45ff">心理测试</a></dd>

                </dl>
                <a [routerLink]="['/pages/template/createOrEdit']" [routerLinkActive]="['active']" class="btn">创建</a>
            </li>
        </ul>
    </div>
</div>